<h1>Know about our Team</h1>

<div>
    <h3>Team for Class of 103a</h3>
    <p>Our team orignially has for memebers: Sijia, Tianqi, Wenxuan, and Ye. We are all the first year MS4 student. We are all from China.</p>
    <p>We did the CA01 together as a team, and each of us contributed for meetings, coding, commenting and debugging</p>
    <h3> Ye Xu </h3>
    <p> However, we have decided to work on CA02 as an individula project this time. Therefore, I, Ye, has done all of the work for finish this project on building the prompt to debug</p>
    <h3>What have I done?</h3>
    <p> I have read the instruction on Mastery and git cloned Tim's codes on firstApp. I also wrote the codes for the debug in routes and debug.js for the view and updated the app.js file too</p>
</div>