// This html codes defines a heading of Functions, followed by an ordered list, which contains a single list item. 
<h1> Functions </h1>
<ul>
    <li>
        <a href="pseudoToCode.ejs">Convert Pseducode to Code</a>
    </li>
</ul>